body {
    background-color: rgb(77, 255, 255);
    color: brown;
}

#teste01 {
    color: rgb(236, 233, 26);
    padding: 20px;
}

#teste02 {
    background-color: crimson;
    color: darkkhaki;
}

#paragrafo03 {
    border-radius: 20px;
    border: 10px solid red;
    color: royalblue;
}

.format {
    background-color: rgb(150, 209, 12);
    color: rgb(83, 75, 158);
    font-size: large;
    text-align: center;
}

abbr:hover {
    background-color: slateblue;
}
a{
    text-decoration: none;
}